[submodule "src/apps/arcdn"]
	path = src/apps/arcdn
	url = https://github.com/alrigroup/arcdn.git
[submodule "src/apps/ardb"]
	path = src/apps/ardb
	url = https://github.com/alrigroup/ardb.git
[submodule "src/apps/arwn"]
	path = src/apps/arwn
	url = https://github.com/alrigroup/arwn.git
[submodule "src/apps/arws"]
	path = src/apps/arws
	url = https://github.com/alrigroup/arws.git
