# ==============================================================================
# ARAPIBUS — ALRI Sovereign Business & HR Management API Backend
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapibus
name=ALRI Sovereign Corporate & HR Management API Backend

[server]
port=9670
bind=127.0.0.1
route_prefix=/arapi/bus

[auth]
host=127.0.0.1
port=9650

[logs]
host=127.0.0.1
port=9655

[storage]
data_dir=storage/arbus
