# ==============================================================================
# ARAPICLOUD — ALRI Sovereign Cloud Storage & Drive API Backend
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapicloud
name=ALRI Sovereign Cloud Storage & Drive API Backend

[server]
port=9695
bind=127.0.0.1
route_prefix=/arapi/cloud

[auth]
host=127.0.0.1
port=9650

[logs]
host=127.0.0.1
port=9655

[storage]
data_dir=storage/arcloud
