# ==============================================================================
# ARAPICONN — ALRI Sovereign Communication & Kanban API Backend
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapiconn
name=ALRI Sovereign Communication & Kanban API Backend

[server]
port=9690
bind=127.0.0.1
route_prefix=/arapi/conn

[auth]
host=127.0.0.1
port=9650

[logs]
host=127.0.0.1
port=9655

[storage]
data_dir=storage/arconn
