# ==============================================================================
# ARAPISTOCK — ALRI Sovereign Inventory & Assets Management API Backend
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapistock
name=ALRI Sovereign Inventory & Assets Management API Backend

[server]
port=9685
bind=127.0.0.1
route_prefix=/arapi/stock

[auth]
host=127.0.0.1
port=9650

[logs]
host=127.0.0.1
port=9655

[storage]
data_dir=storage/arstock
