# ==============================================================================
# ARAPIWORK — ALRI Sovereign Workspace Hub API Backend
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapiwork
name=ALRI Sovereign Workspace Hub API Backend

[server]
port=9660
bind=127.0.0.1
route_prefix=/arapi/work

[auth]
host=127.0.0.1
port=9650

[logs]
host=127.0.0.1
port=9655
